WAMAS_Telegrammgenerator/output/xsd/FWCS_FFOITEMLINEFINALIZE00001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="FWCS_FFOITEMLINEFINALIZE00001">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="orderId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="recordState" type="ENUM_RecordState_ND" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>