WAMAS_Telegrammgenerator/output/xsd/FWCS_AFRAMESTOLOCUPDATE00002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="FWCS_AFRAMESTOLOCUPDATE00002">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="currentStoLocId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="newStoLocId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whLoc" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>