WAMAS_Telegrammgenerator/output/xsd/IBDACK00012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="IBDACK00012">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="deliveryNoteDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deliveryNoteNo" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deliveryTimeSlotFrom" type="WamasDateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="deliveryTimeSlotTo" type="WamasDateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdTypeId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="laExchange" type="ENUM_IbdLaExchangeState_NRP" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="mainState" type="ENUM_IbdMainState_DNAF" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="priority" type="NUMERIC_1" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whLoc" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
			<!--BEGIN sub record element-->
			<xsd:element name="IBDEXTREFACK00007" type="IBDACK00012_IBDEXTREFACK00007" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDL2IBOLACK00006" type="IBDACK00012_IBDL2IBOLACK00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLACK00006" type="IBDACK00012_IBDLACK00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLDETAILACK00006" type="IBDACK00012_IBDLDETAILACK00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLDIFFCODEACK00005" type="IBDACK00012_IBDLDIFFCODEACK00005" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLEXTREFACK00007" type="IBDACK00012_IBDLEXTREFACK00007" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLOADAIDACK00004" type="IBDACK00012_IBDLOADAIDACK00004" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLUACK00007" type="IBDACK00012_IBDLUACK00007" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDLUDETAILACK00009" type="IBDACK00012_IBDLUDETAILACK00009" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IBDPARTNERACK00008" type="IBDACK00012_IBDPARTNERACK00008" minOccurs="0" maxOccurs="unbounded"/>
			<!--END sub record element-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDEXTREFACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="extRefKey" type="STRING_64" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="extRefVal1" type="STRING_512" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="extRefVal2" type="STRING_512" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDL2IBOLACK00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="ibdClientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdSystemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdSystemPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="iboClientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="iboLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="iboNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="iboSystemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="iboSystemPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLACK00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="batch" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="csia1" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia10" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia11" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia12" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia13" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia14" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia15" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia16" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia17" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia18" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia19" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia2" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia20" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia3" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia4" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia5" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia6" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia7" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia8" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia9" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deliveredBaseQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="deliveredDualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="gow" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdlTypeId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="line" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="orderedBaseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="orderedLuId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="releasedBaseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="releasedDualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="reservationNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="sysPartnerStockGroup" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLDETAILACK00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="batch" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="csia1" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia10" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia11" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia12" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia13" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia14" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia15" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia16" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia17" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia18" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia19" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia2" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia20" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia3" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia4" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia5" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia6" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia7" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia8" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia9" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deliveredBaseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="deliveredDualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="gow" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="line" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="prodDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="reservationNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="sysPartnerStockGroup" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLDIFFCODEACK00005">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="baseQty" type="DECIMAL_14_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="diffCodeId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="line" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLEXTREFACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="extRefKey" type="STRING_64" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="extRefVal1" type="STRING_512" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="extRefVal2" type="STRING_512" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="line" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLOADAIDACK00004">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="loadAidId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="partnerId" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="registeredLaInitial" type="NUMERIC_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="registeredLaInternal" type="NUMERIC_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="registeredLaNotOk" type="NUMERIC_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="registeredLaOk" type="NUMERIC_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLUACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="cubatureId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="grossWeight" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grossWeightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="loadAidId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="luId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="masterLuId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="weightKind" type="ENUM_WeightKind_CM" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDLUDETAILACK00009">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="baseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="batch" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="csia1" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia10" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia11" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia12" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia13" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia14" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia15" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia16" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia17" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia18" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia19" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia2" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia20" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia3" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia4" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia5" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia6" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia7" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia8" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia9" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="gow" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grossWeight" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grossWeightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdLine" type="NUMERIC_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdSystemPartner" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdlvNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="luId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="no" type="NUMERIC_18" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="preRegistered" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="reservationNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stockGroupId" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IBDACK00012_IBDPARTNERACK00008">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="city" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="country" type="STRING_2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="district" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="email" type="STRING_255" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="exchangePartner" type="ENUM_Tristate_UYN" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fax" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gln" type="STRING_13" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ibdSystemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="language" type="STRING_6" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name2" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name3" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name4" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="partnerId" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="phone" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="region" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="roleKind" type="ENUM_IbdPartnerRoleKind_SCFOIFC" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="street" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="timeZone" type="STRING_100" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="title" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="webSite" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="zipCode" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>