WAMAS_Telegrammgenerator/output/xsd/INVDACK00009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="INVDACK00009">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="finTime" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="finUser" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="typeId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whLoc" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
			<!--BEGIN sub record element-->
			<xsd:element name="INVCCACK00007" type="INVDACK00009_INVCCACK00007" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="INVDENDACK00005" type="INVDACK00009_INVDENDACK00005" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="INVDLACK00006" type="INVDACK00009_INVDLACK00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="INVDPARTNERACK00007" type="INVDACK00009_INVDPARTNERACK00007" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="STOCKACK00009" type="INVDACK00009_STOCKACK00009" minOccurs="0" maxOccurs="unbounded"/>
			<!--END sub record element-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="INVDACK00009_INVCCACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="actualBaseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="actualDualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="confId" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="countedAt" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="countedBy" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="emptyLoc" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invErrDesc" type="STRING_30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invErrKind" type="ENUM_InvErrorKind_NWAONWDLN" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="invSystemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="invSystemPartnerLine" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="targetBaseQty" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="targetDualQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="INVDACK00009_INVDENDACK00005">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whLoc" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="INVDACK00009_INVDLACK00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="assortment" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="batch" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDateFrom" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDateTo" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="compGroupId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="compGroupSeg" type="NUMERIC_2" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contentKind" type="ENUM_SmContentKind_ULQ" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia1" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia10" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia11" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia12" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia13" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia14" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia15" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia16" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia17" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia18" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia19" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia2" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia20" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia3" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia4" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia5" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia6" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia7" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia8" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csia9" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="goodsCategory" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gow" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="hasPla" type="ENUM_UndefYesNo_UYN" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invArea" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemKind" type="ENUM_SmItemKind_UMLE" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastInvTimeItem" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastInvTimeLU" type="WamasDateTimeReduced" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastInvTimeSo" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastInvTimeStoLoc" type="WamasDateTimeReduced" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="line" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="luId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="physArea" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDateFrom" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDateTo" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="qtyKind" type="ENUM_QuantityUnitKind_BW" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="regTimeFrom" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="regTimeTo" type="WamasDateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="reservationNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stoComp" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stoLocId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stockFrom" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stockTo" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sysPartnerLine" type="NUMERIC_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="sysPartnerStockGroup" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sysPartnerStockRating" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="totalQtyKind" type="ENUM_QuantityUnitKind_BW" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="totalStockFrom" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="totalStockTo" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="INVDACK00009_INVDPARTNERACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="city" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="country" type="STRING_2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="district" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="email" type="STRING_255" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fax" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="gln" type="STRING_13" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="language" type="STRING_6" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name2" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name3" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name4" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="partnerId" type="STRING_15" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="phone" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="region" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="roleKind" type="ENUM_InvPartnerRoleKind_CI" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="street" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="timeZone" type="STRING_100" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="title" type="STRING_35" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="webSite" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="zipCode" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="INVDACK00009_STOCKACK00009">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="StockObject_sia_csia_csia01" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia02" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia03" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia04" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia05" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia06" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia07" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia08" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia09" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia10" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia11" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia12" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia13" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia14" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia15" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia16" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia17" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia18" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia19" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StockObject_sia_csia_csia20" type="STRING_50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="baseQty" type="DECIMAL_14_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="batch" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dualQty" type="DECIMAL_14_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="gow" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdLine" type="NUMERIC_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ibdSystemPartner" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invLine" type="NUMERIC_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invSystemPartner" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invSystemPartnerLine" type="NUMERIC_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="layout" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="luComp" type="STRING_2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="luId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="masterLuId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDate" type="WamasDate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="requestId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="reservationNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stoLocId" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stockGroupId" type="STRING_15" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="whLoc" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>