WAMAS_Telegrammgenerator/output/xsd/LOGIN2ROLE00005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="LOGIN2ROLE00005">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="applicationId" type="ENUM_ApplicationId_DM" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="defaultRole" type="boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="loginId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="roleId" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>