WAMAS_Telegrammgenerator/output/xsd/WCS_INVENTORYACK00007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="WCS_INVENTORYACK00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="cancelFlag" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="errorDesc" type="STRING_30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="invLine" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="invNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="systemPartner" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>