WAMAS_Telegrammgenerator/output/xsd/WCS_REPLDEMANDACK00006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="WCS_REPLDEMANDACK00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="deliveredQty" type="DECIMAL_12_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="deliveredTpo" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="id" type="NUMERIC_18" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>