WAMAS_Telegrammgenerator/output/xsd/WCS_ITEM00009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="WCS_ITEM00009">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="assortment" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="autoConvMode" type="ENUM_AutoConvMode_DEE" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="baseQtyUnit" type="STRING_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="batchStockMode" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="bbDateStockMode" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration01" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration02" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration03" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration04" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration05" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration06" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration07" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration08" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration09" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration10" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration11" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration12" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration13" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration14" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration15" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration16" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration17" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration18" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration19" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaIgRegistration20" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration01" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration02" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration03" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration04" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration05" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration06" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration07" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration08" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration09" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration10" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration11" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration12" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration13" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration14" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration15" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration16" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration17" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration18" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration19" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaOgRegistration20" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode01" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode02" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode03" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode04" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode05" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode06" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode07" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode08" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode09" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode10" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode11" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode12" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode13" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode14" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode15" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode16" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode17" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode18" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode19" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="csiaStockMode20" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dualItem" type="boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="dualQtyUnit" type="STRING_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="editBaseQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="editDualQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="goodsCategory" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="goodsValue" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="goodsValueUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemAutoConvMode" type="ENUM_AutoConvMode_DEE" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemBatchRegistration" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemBbDateRegistration" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemEditBaseQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemEditDualQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMaxRemLife" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMaxRemLifeUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMinRemLife" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMinRemLifeUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMonInterval" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMonIntervalUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemMonitoringKind" type="ENUM_IgMdMonitoringKind_GNAIFT" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemProdDateRegistration" type="ENUM_IGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="igItemRemLifeCheck" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemClassId" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemEquivPeriod" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemEquivPeriodUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemStackingCategory" type="STRING_30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemType" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemWeight" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemWeightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lowerEntryTolAbsolute" type="DECIMAL_9_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lowerEntryTolPercentage" type="DECIMAL_5_2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemAutoConvMode" type="ENUM_AutoConvMode_DEE" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemAvailabilityCheck" type="ENUM_AvailabilityCheck_YN" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemBatchRegistration" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemBbDateRegistration" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemEditBaseQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemEditDualQty" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemObdBlock" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemProdDateRegistration" type="ENUM_OGRegistrationMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemRemLifeCheck" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemRemainingLife" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogItemRemainingLifeUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ogRequiredLoadAidId" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packSequence" type="NUMERIC_1" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prodDateStockMode" type="ENUM_StockAttributeMode_NOM" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="standardLoadAidId" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="timeBasedAccMode" type="ENUM_TimeBasedAccessMode_RBP" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="upperEntryTolAbsolute" type="DECIMAL_9_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="upperEntryTolPercentage" type="DECIMAL_5_2" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whDualQtyUnit" type="STRING_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whQtyUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
			<!--BEGIN sub record element-->
			<xsd:element name="WCS_ITEMABCCLASSIFICATION00006" type="WCS_ITEM00009_WCS_ITEMABCCLASSIFICATION00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WCS_ITEMALIAS00006" type="WCS_ITEM00009_WCS_ITEMALIAS00006" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WCS_ITEMDESC00005" type="WCS_ITEM00009_WCS_ITEMDESC00005" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WCS_PACKAGINGVERSION00007" type="WCS_ITEM00009_WCS_PACKAGINGVERSION00007" minOccurs="0" maxOccurs="unbounded"/>
			<!--END sub record element-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="WCS_ITEM00009_WCS_ITEMABCCLASSIFICATION00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="abcValue" type="NUMERIC_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="stratArea" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="WCS_ITEM00009_WCS_ITEMALIAS00006">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemAliasNo" type="STRING_30" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="kind" type="ENUM_ItemAliasKind_GAV" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numBquWqu" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="qtyUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="WCS_ITEM00009_WCS_ITEMDESC00005">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="STRING_40" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description2" type="STRING_40" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="langId" type="STRING_6" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="WCS_ITEM00009_WCS_ITEMQTYUNIT00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="denominator" type="DECIMAL_9_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="emptiesItemNo" type="STRING_20" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="emptiesVariant" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grossWeight" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grossWeightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="height" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="heightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="length" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lengthUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="loadUnitCubature" type="STRING_10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="numerator" type="DECIMAL_9_3" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="pkv" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="qtyUnit" type="STRING_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="referenceQtyUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="stackingFactor" type="NUMERIC_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="volume" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="volumeUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="wholeLu" type="boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="width" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="widthUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<!--END attributes-->
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="WCS_ITEM00009_WCS_PACKAGINGVERSION00007">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<!--BEGIN attributes-->
			<xsd:element name="clientId" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="itemNo" type="STRING_20" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="netWeight" type="DECIMAL_12_3" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="netWeightUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packSequence" type="NUMERIC_1" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="pkv" type="NUMERIC_5" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="ENUM_WcsRecordTypeState_UD" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="variant" type="STRING_10" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="whDualQtyUnit" type="STRING_5" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="whQtyUnit" type="STRING_5" minOccurs="1" maxOccurs="1"/>
			<!--END attributes-->
			<!--BEGIN sub record element-->
			<xsd:element name="WCS_ITEMQTYUNIT00007" type="WCS_ITEM00009_WCS_ITEMQTYUNIT00007" minOccurs="0" maxOccurs="unbounded"/>
			<!--END sub record element-->
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>